# This is sample code in the pug language
# This is a line comment
#{
This is a block comment in the pug language
#}
function main () {
	{ var x = 10; @x;}
	var y=40;
        @y;
        {y = y + 20; };
	return 5 + y;
}
