# This is sample code in the pug language
# This is a line comment
#{
This is a block comment in the pug language
#}
function aux(x,y,z);
function aux() {
    return 1;
}
function main() {
   return aux(); 
}
