# This is sample code in the pug language
# This is a line comment
#{
This is a block comment in the pug language
#}
function factorial(n) {
	if n {
		return n * factorial(n-1);
	} else {
		return 1;
	}
}
function main() {
   return factorial(6); 
}
