# This is sample code in the pug language
# This is a line comment
#{
This is a block comment in the pug language
#}
function aux(x, y) {
    return x + y;
}
function main() {
   var z = 5;
   return aux(2 * z, 10); 
}
