# This is sample code in the pug language
# This is a line comment
{
i = 10;
j = 20;
}
#{
This is a block comment in the pug language
#}
k = !(i - j); # This is also a line comment
@k;
l = !(i-i) + 1;
@l;
if2 (l==1) { m = 2; }
elseif2 (l==2) { m = 6;}
else2 { m = 3; };
return m
