# This is sample code in the pug language
# This is a line comment
#{
This is a block comment in the pug language
#}
_1 = 1 or 0;
_2 = 0 or 2;
_3 = 1 or 2;
_4 = 0 or 0;

_5 = 1 and 0;
_6 = 0 and 2;
_7 = 1 and 2;
_8 = 0 and 0;

@_1;
@_2;
@_3;
@_4;
@_5;
@_6;
@_7;
@_8;
return 10;
