# This is a line comment
#{
  This is a multi-line comment
#}
#{
  main returns num type and takes no parameters
  even main() can have a function prototype
#}
num function main() # function prototypes like function definitions are not terminated by semi-colon
num function main ()
{
	; # empty statement
       local num i = 1;
       while (i) {
          @i;
          i = i - 1;
       };  # even while loop statements need terminating semi-colons
       return 1*2; # return for function returning num must return a num typed value
} 
