num function main ()
{
    if (1 < 2) {
      @1;
    } elseif (1 > 2) {
      @2;
    } else {
      @3;
    };
    if (1 > 2) {
      @1;
    } elseif (1 < 2) {
      @2;
    } else {
      @3;
    };
    if (1 > 2) {
      @1;
    } elseif (0 > 1) {
      @2;
    } else {
      @3;
    };
}
