# This is sample code in the pug language
# This is a line comment
#{
This is a block comment in the pug language
#}
function foo();
function main () {
        accum = 1;
        n = 6;
        return foo();
}
function foo2();
function foo() {
        accum = accum * n;
	return foo2();
}
function foo2() {
	n = n - 1;
        if n == 0 {
          return accum;
        };
        return foo();
}
