# This is sample code in the pug language
# This is a line comment
#{
This is a block comment in the pug language
#}
function main () {
    b = new [1][1][1];
    b[1][1][1] = 500;
    @b[1][1][1];
}
